@bgcolor-normal: #ffff;
@bgcolor-dragging: #7ed3bae3;

.productList {
  display: flex;
  flex-direction: column;
  //   flex-wrap: wrap;
  //   justify-content: flex-start;
  margin-bottom: 30px;
  padding-left: 60px;
  padding-top: 30px;
  background-color: @bgcolor-normal;
}
