@font: mreavessans, Verdana, Arial, Helvetica, sans-serif;
@dark-gray: #525151;
@light-gray: #c7c7c7;
@text-shadow: #808080;
@dark-red: #c51e37;

.main {
  margin: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @light-gray;
  font-family: @font;

  .header {
    color: @dark-red;
    margin-bottom: 40px;
    text-shadow: -1px 2px 3px @text-shadow;
  }
}
