@font: mreavessans, Verdana, Arial, Helvetica, sans-serif;
@dark-gray: #525151;
@dark-red: #c51e37;

.main {
  margin: 20px;
  padding: 20px;
  background-color: #c7c7c7;
  font-family: mreavessans, Verdana, Arial, Helvetica, sans-serif;

  .header {
    color: @dark-red;
    font-family: mreavessans, Verdana, Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
    margin-left: 80px;
    text-shadow: -1px 2px 3px grey;
  }

  .subheading {
    color: @dark-gray;
  }
}
